* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
 height: 70px;
 background-color: #EC715F;
 width: 100%;

}

.site-logo{
  height: 70px;
  margin-right: 200px;
  margin-left: 100px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
  padding: 0 20px;

}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;

}

.main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: contain;
}

.main-visual-content {
  text-align: center;
  color: #FAFAFA;
  padding-top: 200px;
}

.main-visual-title {
  font-size: 64px;
}

.main-visual-text {
  font-size: 20px;
  padding-top: 10px;
}

.portfolio{
  background-color: #ECEFF1;
  text-align: center;
  padding-bottom: 90px;
}

.portfolio-title {
  font-size: 32px;
  padding-top: 90px;
  padding-bottom: 8px;
  color: #000000;
  display: inline-block;
  position:relative;
  font-weight: bold;
}

.portfolio-title::after {
  content: '';
  position:  relative;
  left: 50%;
  bottom: 0px;/*線の上下位置*/
  display: block;
  width: 70px;/*線の長さ*/
  height: 3px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  position: absolute;
  background-color: #EC715F;/*線の色*/

}

.portfolio-text {
  font-size: 16px;
  padding: 30px;
  color: #000000;
}

.portfolio-image {
  width: 300px;
  height: 250px;
  border: 10px solid #ECEFF1;
}

.portfolio-visual {
  width: 920px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.feature {
  width: 980px;
  padding-top: 90px;
  text-align: center;
  margin: auto;
}

.feature-title {
  font-size: 32px;
  /*padding-top: 90px;*/
  padding-bottom: 8px;
  position:relative;
  display: inline-block;
  color: #000000;
  font-weight: bold;
}

.feature-title::after {
  content: '';
  position:  relative;
  left: 50%;
  bottom: 0px;/*線の上下位置*/
  display: block;
  width: 70px;/*線の長さ*/
  height: 3px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  position: absolute;
  background-color: #EC715F;/*線の色*/

}
.feature-text {
  font-size: 16px;
  padding:  30px;
  color:#000000;
}

.feature-visual {
  display: flex;
  width: 980px;
  padding-bottom: 90px;
}

.strenght {
  width:320px;
  height: auto;
  margin: 10px;
}


.strength-title {
  font-size: 32px;
  padding: 10px;
  color: #000000;
  font-weight: bold;
}

.strength-text {
  font-size: 16px;
  color: #000000;
  text-align: justify;
  text-align-last: justify;
}

.profile {
  text-align: center;
  padding-bottom: 90px;
  background-color: #ECEFF1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.profile-title {
  font-size: 32px;
  padding: 10px;
  color: #000000;
  font-weight: bold;
  position:relative;
}

.profile-title::after {
  content: '';
  position:  relative;
  left: 50%;
  bottom: 0px;/*線の上下位置*/
  display: block;
  width: 70px;/*線の長さ*/
  height: 3px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  position: absolute;
  background-color: #EC715F;/*線の色*/

}

.profile-text {
  font-size: 16px;
  padding:  30px;
  color:#000000;
}

.image {
  width: 512px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.profile-image {
  width: 250px;
  height:250px;
  border-radius:50%;
}

.profile-visual {
  display: flex;
  justify-content: center;
}

.introduction {
  width: 512px;
  display: flex;
  flex-direction: column;
}

.myname {
  text-align:justify;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.myname-title {
  font-weight: bold;
  font-size: 20px
}

.myname-text {
  font-size: 16px;
  color: #000000;
  padding-bottom: 20px;
}

.myskills {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: flex-start;
}

.myskills-title {
  font-weight: bold;
  font-size: 20px
}

.myskills-text {
  font-size: 16px;
  color: #000000;
}

.contact {
  width: 800px;
  padding-top: 90px;
  padding-bottom: 90px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.contact-title {
  font-weight: bold;
  font-size: 32px;
  color: #000000;
  position:relative;
  text-align: center;

}

.contact-title::after {
  content: '';
  position:  relative;
  left: 50%;
  bottom: 0px;/*線の上下位置*/
  display: block;
  width: 70px;/*線の長さ*/
  height: 3px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  position: absolute;
  background-color: #EC715F;/*線の色*/

}

.contact-text {
  font-size: 16px;
  color: #000000;
  padding: 30px;
}

.contact-visual {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.personal-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;
}

.mail {
  text-align:justify;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 20px;
}

.mail-title {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 5px;
}

.tell {
  text-align:justify;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tell-title {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 5px;
}

.sns {
  padding-top: 30px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.sns-title {
  font-size: 20px;
  font-weight: bold;
}

.sns-icon {
  display: flex;

}
footer {
  background-color: #EC715F;
  width: 100%;
  line-height: 60px;
  font-size: 16px;
  text-align: center;
  color: #FAFAFA;
}

